apiVersion: v1
kind: Service
metadata:
  name: config-server
  namespace: nvt-cnt
  labels:
    app: config-server
spec:
  selector:
    app: config-server
  ports:
    - name: http
      port: 8888
      targetPort: 8888
  type: ClusterIP
